<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Attack On Titans Characters Bio</h1>
  <input id="name" type="text">
  <button onclick="getCharacters()">API Request</button>
  
  <div id="charData" style="display: none;">
    <h2 id="charName"></h2>
    <img id="charImage" src="" alt="character image">
    <p id="charGender"></p>
    <p id="charSpecies"></p>
    <p id="charAge"></p>
    <p id="charStatus"></p>
    <p id="charOccupation"></p>
  </div>

  <script>
    function getCharacters() {
      const name = document.getElementById('name').value
      fetch(`http://localhost:3000/characters/${name}`)
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
          // document.getElementById('charData').style.display = 'block';
          // document.getElementById('charName').innerHTML = 'Name: ' + data.name
          // document.getElementById('charImage').src = data.img
          // document.getElementById('charGender').innerHTML = 'Gender: ' + data.gender
          // document.getElementById('charSpecies').innerHTML = 'Species: ' + data.species.join(', ')
          // document.getElementById('charAge').innerHTML = 'Age: ' + data.age
          // document.getElementById('charStatus').innerHTML = 'Status: ' + data.status
          // document.getElementById('charOccupation').innerHTML = 'Occupation: ' + data.occupation
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    };  
  </script>
</body>

</html>